body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding-top: 72px;
    padding-bottom: 72px;
    background: white;
}

.header-background {
    background-color: #FFD700;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: auto;
}

.header-left,
.header-center,
.header-right {
    margin: auto;
}

.main-background {
    background-color: white;
    min-height: calc(100vh - 144px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 0;
    gap: 48px;
}

.main-sale {
    background-color: white;
    padding: 6px 16px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    height: 140px;
    width: 80vw;
}

.main-selector {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-selector-title {
    margin: 0 0 16px 8px;
}

.main-selector-select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
}

.select {
    background-color: white;
    padding: 6px 12px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.main-selector-pizza {
    margin: 32px 16px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pizza {
    background-color: white;
    padding: 6px 16px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    height: 140px;
}

.main-profile-card {
    width: 90vw;
    height: 90px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.main-settings-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
}

.main-settings-cards {
    width: 28vw;
    height: 90px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

.settings-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-settings-bottom {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-settings-lists {
    width: 90vw;
    height: 64px;
    display: flex;
}

.settings-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.settings-list img,
.profile img {
    border-radius: 50%;
    object-fit: cover;
}

.footer-background {
    background-color: #FFD700;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    pointer-events: auto;
}

.footer-background a {
    margin: auto;
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    height: 78px;
}
